body {
  margin: 0;
  font-family: 'Courier New', Courier, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, rgb(175, 69, 189), rgb(67, 164, 252));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
	cursor: pointer;
}